# Environment variables
.env

# Dependencies
node_modules/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db

# SSL certificates
*.pem
*.key
*.crt # Created by https://www.toptal.com/developers/gitignore/api/nodejs
# Edit at https://www.toptal.com/developers/gitignore?templates=nodejs

#!! ERROR: nodejs is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/nodejs
